 <div class="barbecue-title mt-3">
  <div class="row">
    <div class="col-12">
      <h3>My Barbecues</h3>
<br>
            <div class="container">

                <div class="row">
                    <% @user.barbecues.each do |barbecue| %>
                    <div class="col-md-2">
                        <div class="flat-card2">
                        <div class="flat-card-image" style="background-image: url('<%= barbecue.picture %>')"></div>
                        <div class="flat-card-content">
                            <div class="flat-card-title">
                            <h6><%= barbecue.barbecue_model %></h6>
                            </div>
                            <p><%= barbecue.barbecue_description %></p>

                        </div>
                        <div class="flat-card-actions">
                        <div class="btn-group btn-sm" role="group" aria-label="Button group">
                            <%= link_to 'More info', barbecue_path(barbecue), class: "btn btn-outline-dark btn-sm" %>
                        </div>
                        </div>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
<br>
    </div>
  </div>
