<div class="row justify-content-center d-flex justify-content-around align-self-center p-1">
  <div class="col-4">
    <h4 class="row justify-content-center">Edit this Barbegrill: </h4>
  </div>
</div>

<div class="row justify-content-center d-flex justify-content-around align-self-center">
  <%= render 'form', barbecue: @barbecue %>
</div>

<div class="row justify-content-center p-2">
  <div class="col-4  d-flex justify-content-between align-self-center p-1">
    <%=  link_to 'Home page', root_path, class: 'btn btn-outline-success btn-block w-40'%>
    <%= link_to 'Back', :back, class: 'btn btn-outline-success btn-block w-40'%>
  </div>
</div>
