<%= render 'header' %>

<h1>Pages#home</h1>
<p>YES! WE HAVE HOME PAGE</p>


    <div class="list-box">
        <div class="row align-items-start">
            <div class="row">
            </div>
        </div>
    </div>
