<div class="row justify-content-center d-flex justify-content-around align-self-center p-1">
  <div class="col-4">
    <h4>Add a new BarbeGrill for renting!</h4>
  </div>
</div>

<div class="row justify-content-center d-flex justify-content-around align-self-center">
  <%= render 'form', barbecue: @barbecue %>
</div>

<div class="row justify-content-center p-2">
  <div class="col-4  d-flex justify-content-between align-self-center p-1">
    <%=  link_to 'See the BarbeGrill', @barbecue, class: 'btn btn-outline-dark btn-block w-40 btn-sm'%>
    <%= link_to 'Go Back to your page', users_path, class: 'btn btn-outline-dark btn-block w-40 btn-sm'%>
  </div>
</div>
