// Import page-specific CSS files here.

.lists{
    width: 720px;
    margin: 0 auto;
  
  }
  
  .box-flex{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
    margin: 10px;
  }
  
  .box-display{
    background-color: #fff;
    margin: 10px 0 50px;
    height: 351px;
    border: 1px solid #E8E8E8;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }
  
  .box-image{
    width: 100%;
    height: 300px;
  }
  
  .box-title{
    text-transform: uppercase;
    background-color: #E8E8E8;
    font-weight: 700;
    height: 50px;
    text-align: center;
    padding: 10px;
    color: #494C62;
  }

  .barbecue-title{
    font-weight: 700;
    height: 50px;
    color: #494C62;
    margin: 0;
    font-size: 42px;
    font-weight: 700;
    text-align: center;
    padding-top: 30px;
  }
  
  .box-title a{
    color: #fff;
  }
  
  
  .footer{
    background-color: #fff;
  }
  
  .left-border{
    margin: 20px 0;
    border-left: 4px solid #4820ad;
    padding: 10px;
  }
  
  .img-list{
    width: 400px;
    height: 200px;
  
  }
  
  .list-box{
    background-color:#fff;
    border-radius: 0 20px 20px 0;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    width: 350px;
  }
  
  .list-title{
    padding: 20px 0 0 0;
    text-align: center;
  }
  
  .click-text-content{
    margin-left: 0px;
    width: 70%;
    text-align: center;
  }
  
  .btn-click{
    margin-left: 70px;
    text-align: center;
    padding: 5px 35px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .btn-group{
    margin-top: 10px;
    padding: 5px 35px;
  }
  
  .click{
    text-decoration: none;
    color: #fff;
    padding: 5px;
    margin-bottom: 5px;
    background-color: #ffffff;
    border-radius: 0 20px 20px 0;
  }
  
  .click a:hover{
    color: #fff;
    text-decoration: none;
  }
  
  .fa-plus-circle{
    margin-left: 30px;
  }
  
  
  // footer
  
  .footer{
    text-align: center;
    padding: 30px;
    background-color: #fff;
  }
  
  .fa-github{
     color: #150e56;
  }
  .flex {
    display: flex;
  }
  .flex-align {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  // airbnb  


  .flat-card {
    width: 100%;
    height: 350px;
    position: relative;
    margin: .5rem 0 1rem 0;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    font-size: 10px;
  }

  .flat-card2 {
    width: 100%;
    height: 350px;
    position: relative;
    margin: .1rem 0 1rem 0;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    font-size: 10px;
  }
  
  .flat-card-image {
    height: 150px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 24px;
  }
  
  .flat-card-content {
    padding: 24px;
    background-color: #F8F9FA;
    font-size: 9px;
    height: 120px;
  }

  .flat-card-title {
    font-size: 12px;
  }
  
  .flat-card-actions {
    position: relative;
    background-color: inherit;
    border-top: 1px solid rgba(160,160,160,0.2);
    padding: 10px 10px;
  }
  
  .flat-form {
    background-color: #F8F9FA;
    padding: 24px;
    border-radius: 3px;
  }

  .flat-form2 {
    background-color: #F8F9FA;
    padding: 24px;
    border-radius: 3px;
    text-align: left;
  }
  
  .flat-show-card {
    background: #F8F9FA;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    border-radius: 3px;
  }
  
  .map {
    height: 350px;
    background-position: center;
    background-size: cover;
  }
  
  .margin-top-negative {
    margin-top: -75px;
  }
  .no-mb {
    margin-bottom: 0;
  }
  
  .flat-show-address {
    font-weight: 300;
    font-size: 20px;
    color: #333;
  }

  .search-bar {
    justify-content: center;
  }

// FORM NEW e EDIT

.intro {
  height: 100%;
}
